
body{
    background-color: white;
}
.contenedor{
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden;
}
.header{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
header h1, h3{
    width: 100%;
    text-align: center;
}
.logo{
   display: flex;
   padding: 10px;
}
.logo img{
    position:absolute;
    top: 90px;
    width: 100px;
}
.nav{
    width: 100%;
    align-items: center;
}
nav ul{
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: blue;
    padding: 20px;
}

/**Pseudo-clase**/
nav a:hover{
    color: black;
}
.main{
    width: 80%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}
.mainE{
    width: 100%;  
    float: left;
    padding-inline-start: 20px;
    box-sizing: border-box;
    align-items: center;
}
.mainA{
    width: 100%;  
    float: left;
    padding-inline-start: 20px;
    box-sizing: border-box;
    align-items: center;
}
.aside{
    width: 20%;
    color: black;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.aside a{
    text-align: center;
    display: block;
    color: blue;
    text-decoration: none;
    padding: 15px;

}
.footer{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
table{
    width: 80%;
    margin: auto;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    align-items: center;
}

/**pseudo-clases**/
tr:nth-child(odd){
    background-color: black;
    opacity: 60%;
    color: white;
}



/**Media Query**/
@media screen and (max-width: 800px){

    .main{
        width: 100%;
    }
    .aside{
        width: 100%;
    }
    .logo img{
        width: 50px;
    }
}

