* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 490px 100px;

    grid-template-areas: "header"
                        "main"
                        "footer";

}
.contenedor .header{
    grid-area: header;
    text-align: center;
    background: #1f53c5;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .header h2{
    text-align: center;
}
.contenedor .header a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}
.Registro {
    width: 50%;
    margin-top: 10px;
    color: black;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    float: left;
}
.contenedor .registro{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .formulario{
    width: 30%;
}
.contenedor .registro .formulario h4{
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
.control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 25px;
    border: 1px solid #1f53c5;
    color: black;
}
.boton{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: green;
    color: white;
}

.contenedor .footer{
    display: grid;
    grid-area: footer;
    padding: 20px;
    border: 1px solid black;
    background-color: #1f53c5;
    text-align: center;
}
@media screen and (max-width: 840px){

    .contenedor .formulario{
        width: 40%;
    }
}
@media screen and (max-width: 650px){
    .contenedor .formulario{
        width: 60%;
    }
}
@media screen and (max-width: 450px){
    .contenedor .formulario{
        width: 90%;
    }

}
