* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 435px  35px 100px;

    grid-template-areas: "header"
                        "main"
                        "siguiente"
                        "footer";

}
.contenedor{
    background-color: white;
    border-radius: 4px;
}
.contenedor .header{
    grid-area: header;
    background: #1f53c5;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contenedor .header h2{
    text-align: center;
}
.contenedor .header a{
    text-decoration: none;
    color: white;
}
.contenedor .main{
    grid-area: main;
    display: flex;
    justify-content: center;

}
.tabla{
    width: 50%;
    align-items: center;
}  
.tabla h4{
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
.table{
    width: 100%;
}
.table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.table, th{
    height: auto;
    align-items: center;
}
.siguiente{
    grid-area: siguiente;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    width: 10%;
    min-width: 100px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: green;
    text-align: center;
}
.boton a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .footer{
    display: grid;
    grid-area: footer;
    padding: 20px;
    border: 1px solid black;
    background-color: #1f53c5;
    text-align: center;
}

@media screen and (max-width: 430px) {
    .tabla{
        width: 80%;
        align-items: center;
    } 
}